<?xml version="1.0" encoding="utf-8"?>
<!-- Use Windows/DOS "End of Line" here for old notepad versions -->
<configuration>
	<appSettings>
		<!-- gnuplot launcher/executable name/path, specific to operating system.
		Only the matching entry for the currently running OS is needed at runtime.
		gnuplot_<platform-ID>
		-->
		<add key="gnuplot_Unix" value="gnuplot"/>
		<add key="gnuplot_MacOSX" value="gnuplot"/>
		<!-- Microsoft Windows XP, Vista, 7 etc., usually full path is needed here: -->
		<add key="gnuplot_Win32NT" value="C:\gnuplot\binary\gnuplot.exe"/>

		<!-- Whether to display icons by default. "True" or "False".
		 	False reduces wait time on a slow machine. -->
		<add key="iconsOnByDefault" value="True"/>
	</appSettings>
</configuration>
